
li.menu {
  display: inline;
  padding: 10px;
  list-style-type: none;   /* remove bullet point */
}

ul.navigation {
  border: 1px black solid;
  margin:auto;
  background-color: PowderBlue;

}

body {
  font-family: 'Lora', serif;   /* A Google font */
  background: Azure;
}

.add_book_form_label {
  width: 100px;
}

/* Regular buttons and things with the button class */
.button, button {
  background-color: orange;
}

.danger {
  background-color: OrangeRed;
}


.flashed_message {
  text-emphasis: italic;
}
